<footer class="site-footer">
  <nav class="social-links" aria-label="Social">
    <a class="social-links__item" href="https://www.linkedin.com/in/osnibjunior" aria-label="LinkedIn">
      <i class="fab fa-linkedin-in" aria-hidden="true"></i>
    </a>
    <a class="social-links__item" href="https://github.com/osnibjunior" aria-label="GitHub">
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
    <a class="social-links__item" href="https://osnibjunior.social" aria-label="Bluesky">
      <i class="fab fa-bluesky" aria-hidden="true"></i>
    </a>
    <a class="social-links__item" href="https://dev.to/osnibjunior" aria-label="Dev.to">
      <i class="fab fa-dev" aria-hidden="true"></i>
    </a>
    <a class="social-links__item" href="https://twitter.com/osnibjunior" aria-label="X (Twitter)">
      <i class="fab fa-x-twitter" aria-hidden="true"></i>
    </a>
    <a class="social-links__item" href="https://pt.stackoverflow.com/users/180083/osnibjunior" aria-label="Stack Overflow">
      <i class="fab fa-stack-overflow" aria-hidden="true"></i>
    </a>
  </nav>

  <p class="site-footer__copy">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</p>
</footer>
